.handle {
  fill: #b6b7cf;
  opacity: 0;
}

.tweet-container {
  display: flex;
  width: inherit;
  min-width: inherit;
  flex-direction: column;
  border: solid;
  border-width: 4px;
  margin: 25px 0px;
  padding: 10px 25px;
}

.tweet-container:hover {
  background-color: #fcfaf7;
  box-shadow: 8px 8px rgb(182, 183, 207);
}
.tweet-container:hover .handle {
  opacity: .7;
}

.tweet-l {
  height: 45px;
  align-items: center;
  align-content: center;
  margin: 15px 5px 15px 5px;
  line-height: 45px;
}

.tweet-r {
  height: 45px;
  align-items: center;
  align-content: center;
  margin: 15px 5px 15px auto;
  line-height: 45px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  color: #aaacdb;
  filter: invert(100%) contrast(10%) sepia(30%);
}

#tweet-feed header {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 50px;
  margin-bottom: 25px;
}

#tweet-feed main {
  font-weight: 400;
  padding: 5px 10px;
  border: solid;
  border-width: 0px 0px 4px 0px;
  padding-bottom: 15px;
}

#tweet-feed footer {
  display: flex;
  flex-direction: row;
  font-size: .7em;
}