.handle {
  fill: rgba(182, 183, 207, 1);
  opacity: 0;
}
/* the indidual tweet container */
.tweet-container {
  border: solid;
  border-width: 0.2em;
  margin: 1em 0em;
  padding: 0.8em .8em;
}

.tweet-container:hover {
  background-color: rgba(252, 250, 247, 1);
  box-shadow: 0.4em 0.4em #b6b7cf;
}
.tweet-container:hover .handle {
  opacity: .7;
}
/* tweet-l/r shift elements left or right */
.tweet-l {
  height: 100%;
  align-items: center;
  align-content: center;
  margin: 0.6em 0.3em 0.6em 0em;
}

.tweet-r {
  height: 100%;
  align-items: center;
  align-content: center;
  margin: 0.6em 0em 0.6em auto;
}

.icon {
  align-content: center;
  color: rgba(170, 172, 219, 1);
  filter: invert(100%) contrast(10%) sepia(30%);
}
/* the below reference the indidiual tweets */
#tweet-feed header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 1.2em;
  margin-bottom: .5em;
}

#tweet-feed header img {
  width: 1.5em;
  height: auto;
}

#tweet-feed main {
  font-weight: 400;
  border: solid;
  border-width: 0em 0em 0.2em 0em;
  padding: .5em;
}

#tweet-feed footer {
  height: 1.8em;
  display: flex;
  flex-direction: row;
  font-size: .8em;
  padding: 0em .5em 0em .5em;
}