header {
  display: flex;
  height: 450;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: steelblue;
  background-image: url(../images/vintage-speckles.png);
  padding: 25px 0px;
  color: white;
}

#head-h2 {
  margin: 25px 0px 0px 0px;
}