#user-header {
  display: flex;
  height: 450px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ADBEF7;
  background-image: url(../images/userBG/cartographer.png);
  padding: 25px 0px;
  color: white;
}

#head-h2 {
  margin: 25px 0px 0px 0px;
}

#avatar {
  padding: 50px;
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: white;
}

nav {
  position: sticky;
  top: 0px;
  z-index: 99;
}