#new-tweet {
  margin: 50px 0px;
}

#tweet-text {
  width: 100%;
  max-width: 700px;
  background: transparent;
  font-size: 1em;
  outline: none;
  outline-width: 0px;
  resize: none;
  border: none;
  overflow: hidden;
  line-height: 1.2em;
  min-height: 1.2em;
  padding: 5px 15px;
  margin: 5px 0px;
  font-weight: 700;
  color: #545149;
}

#tweet-footer {
  display: flex;
  border: solid;
  border-width: 5px 0px 0px 0px;
  padding: 5px;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

#tweet-footer button {
  background-color: #4056A1;
  padding: 5px;
  color: white;
  border: none;
}

#tweet-text-label {
  opacity: .7;
  font-size: .8em;
}